<div class="col-lg-4 bg-success">
    <!--左側user-infoここから-->
    <h3>User info</h3>
    <%= form_with model:user, local:true do |f| %>
    <table>
      <tr>
        <th><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th>
        <th></th>
      </tr>
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= user.introduction %></td>
      </tr>
    </table>
    <%= link_to "Edit", edit_user_path(user.id) %>
    <% end %>

    <!--左側new-bookここから-->
    <h3>New book</h3>
    <%= form_with model: Book.new, local:true do |f| %>
      <label>Title</label>
      <%= f.text_field :title %>
      <label>Opinion</label>
      <%= f.text_area :body %>
      <%= f.submit 'Create book' %>
    <% end %>
</div>